/* nav */
.link-custom {
    text-decoration: none;
    margin: 0 8px;
    padding-bottom: 8px;
    color: #a5c8fc;
  }
  .link-custom:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
  }
  .navbar-brand {
    color: #ffffff !important;
  }
  header {
    width: 100%;
    min-height: 450px;
    background-color: #0152cc;
  }
  .heading-custom h1 {
    color: #ffffff;
  }
  .contact {
    margin-top: 100px;
  }
  .contact a {
    color: #bbbbbb;
    text-decoration: none;
  }
  .contact a:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  .contact p {
    color: #bbbbbb;
  }
  .contact p:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  footer {
    background-color: #0152cc;
    color: #ffffff;
  }
  .btn-custom {
    background-color: #0152cc;
    color: #ffffff;
  }
  .btn-custom:hover {
    background-color: #196ae4;
    color: #ffffff;
  }
  
  /* animation */
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translate(0, 20px);
    }
  
    100% {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  
  .animasi-custom {
    animation-name: slide;
    animation-duration: 1.5s;
  }
  